@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    display: none;
}
@media screen and (max-width:414px) {
    body {
        display: flex;
        flex-direction: column;
        font-family: 'Righteous', cursive;
        font-family: 'Roboto', sans-serif;
        background-color: #e5e5e5;
        height: 1040px;

    }
    header {
        width: 100%;
        height: 92px;
        background-color: #CF2B2B;
        position: fixed;
        z-index: 1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    nav {
        width: 100%;
        margin-top: 8px;
        margin-left: 21px;
        margin-bottom: 18px;
    }
    .nav-one {
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        color: #ffffff;
        margin-bottom: 5px;
    }
    .nav-two {
        font-family: 'Roboto';
        font-style:normal;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
    }
    main {
        width: 100%;
        height: 786px;
        margin-top: 106px;
        margin-left: 19px;
        margin-bottom: 108px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .father {
        display: flex;
        flex-direction: column;
        height: 258px;
        margin-top: 17px;
    }
    .title {
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        color: black;
    }
    .images {
        display: flex;
        margin-top: 17px;
        justify-content: space-between;
        width: 586px;
        overflow-x: scroll;
    }
    .subimages {
        position: relative;
        width: 172px;
        height: 216px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
    }
    img {
        width: 144px;
        height: 87px;
        position: absolute;
        top: 18px;
        left: 14px;
    }
    .text-one {
        color: #333333;
        width: 139px;
        height: 23px;
        position: absolute;
        top: 113px;
        left: 15px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
    }
    .text-two {
        color: #a6a6a6;
        width: 147px;
        height: 39px;
        position: absolute;
        top: 140px;
        left: 14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
    }
    .text-three {
        color: #000000;
        width: 66px;
        height: 19px;
        position: absolute;
        top: 184px;
        left: 14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    footer {
        width: 100%;
        height: 92px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .end {
        width: 364px;
        height: 61px;
        background-color: #cbcbcb;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .end-one {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 20px;
        line-height: 23.44px;
        text-align: center;
        letter-spacing: 0.018em;
        color: #ffffff;
        width: 210px;
        height: 46px;
    }
}